/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}



/*---------------------
 * Header
----------------------*/


.header_global{
    background-color: #ffffff;
    width: 1000px;
    padding: 3rem;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.header_global .logo{
    float: left;
    color: black;
    font-weight: 600;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}


.banner{
    height: 100%;
    background-color: white;
    background-size: cover;
    background-position: top center;
    padding-bottom: 5rem;

}





.intro1_container{
    padding: 2rem;
}

.profile{
    width: 200px;
}


.cover-heading{
    font-size: 1.5rem;
    margin-top: 2rem;
}


.lead{
    max-width: 600px;
    margin: 0 auto;
    color: #000000;
    font-family: 'roboto';
    opacity: 0.5;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: -0.6px;
	line-height: 1.8;
    text-align: ;
}



    
    
/*-----------------
 card
------------------*/
    
    
h2{ font-size: 24px;}
p { font-size:20px}
    
    

 
    
    

#beecanvas02{ 
    background-image: url(imgs/index_Bee.png);
    background-size: cover;
	background-position: top center;
	display: table;}


#beecanvas02-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;
    }
     
#beecanvas02:hover #beecanvas02-content{
    opacity: 1;}
    

.card_title{
    font-size: 2rem;
}

.card_subtitle{
    margin-top: 0.3rem;
    font-size: 1rem;
}



    
#beecanvas01{ 
	background-image: url(imgs/bee02_cover.png);
	background-size: cover;
	background-position: top center;
	display: table;}

#beecanvas01-content{  
	display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
     

#beecanvas01:hover #beecanvas01-content{
    opacity: 1;}
    
  




    
    
#peter{ 
    background-image: url(imgs/peter.png);
    background-size: cover;
    display: table;    
	background-position: top center;
    }
  
#peter-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
      
#peter:hover #peter-content{
    opacity: 1;}
        
    


    
#town{ 
    background-image: url(imgs/townus.png);
    background-size: cover;
    display: table;    
	background-position: top center;
    }
  
#town-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
      
#town:hover #town-content{
    opacity: 1;}
        









  

    
#done{
    background-image: url(imgs/index_done.png);
    background-size: cover;
    display: table;    
	background-position: top center;
    }
    
#done-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
    

#done:hover #done-content{
    opacity: 01;}
    





#arumi{ 
    background-image: url(imgs/arumi.png);
    background-size: cover;
    display: table;    
	background-position: top center;
    }

#arumi-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
     
#arumi:hover #arumi-content{
    opacity: 1;}
    







#word{ 
    background-image: url(imgs/index_word.jpg);
    background-size: cover;
    display: table;    
	background-position: top center;
    }
  
#word-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}

#word:hover #word-content{
    opacity: 1;}
    
    
    





    
#discover{ 
    background-image: url(imgs/index_discover.jpeg);
    display: table;
    background-size: cover;
	background-position: top center;
    }

#discover-content{  
    display: table-cell;
    color: white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: all .5s ease-in-out;}
      
#discover:hover #discover-content{
    opacity: 1;}
    




/*-----------------
 album
------------------*/




.card-image {
    color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;}

 

.album {width: 100%;}



.card{ 
    float: left;
    width: 100%;
    height: 400px;
    margin: 15px; 
    display: table;
    }
    

@media (min-width: 768px){
    .card{width:470px;} 
        
    
    
@media (min-width: 768px){
    .album{width:1000px;
           margin: 0 auto;} 
        
    
    
    
    
    
    
    
    
    
    
    