/*-------------
 CSS RESET 
--------------*/

* {
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*
 * Base structure
 */


html,
body {
  font-family: "Libre Franklin", sans-serif;
  height: 100%;
  width: 100%;
}
body {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}


/*---------------------
 * Header
----------------------*/

.header_global {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 50px;
  position: absolute;
  box-sizing: border-box;
  z-index: 9;
}

nav {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
}

.header_global .logo {
  font-weight: 500;
}

@media (min-width: 768px) {
  .header_global .logo {
    float: left;
  }
}

@media (min-width: 768px) {
  .header_global .nav_menu {
    float: right;
  }
}

.header_global .nav_menu li {
  display: inline;
}

@media (min-width: 768px) {
  .header_global .nav_menu li {
    float: left;
  }
}


.menu_list {
  display: inline-block;
  margin: 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.71px;
  text-align: center;
  line-height: 40px;
}


@media (min-width: 768px) {
  .menu_list {
    display: inline;
    margin: 1rem;
    font-weight: 100;

line-height: 40px;
  }
}

.header_global:after {
  display: block;
  clear: both;
  content: "";
}

.header_global nav:after {
  display: block;
  clear: both;
  content: "";
}

#menu_active {
  opacity: 1;
}

#menu_inactive {
  opacity: 0.5;
}

/*logo--------------------------*/

.logo{
  font-family: 'Rubik', sans-serif;
}

.logo-sun{
  padding-top: 3px;
  width: 36px;
  float: left;
}

.logo-name{
  padding-top: 5px;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.71px;
    text-align: center;
    line-height: 40px;
}

/*banner -------------------------*/

.banner-container{
  padding-top: 30px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}



@media (min-width: 768px) {
  .banner-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.banner{
  margin: 0 auto;
  max-width: 800px;
}


/*tape -------------------------*/
.content{
 padding: 60px;
}


@media (min-width: 768px) {
  .content{
    max-width: 600px;
    margin : 0 auto;
    text-align: center;
  }
}

.sun{
  padding-top : 80px;
  width: 50px;
  height: 50px;
}

.tape {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  font-weight: 900;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}


@media (min-width: 768px) {
  .tape {
    text-align: center;
    line-height: 48px;
    font-size: 36px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
  }
}


.cover {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#tape01 {
  color: #FFD342;
}

#tape02 {
  color: #FFBA65;
}

#tape03 {
  color: #FF8966;
}

#tape04 {
  color: #E85C65;
}


.more-container{
  padding-top: 10px;
  padding-bottom: 80px;
}


@media (min-width: 768px) {
  .more-container{
    padding-top: 30px;
  }  
}


.more-icon{
  padding-top: 20px;
  width: 30px;
}
.more{

  padding-top: 20px;
  color: #DADADA;
  font-family: 'Rubik', sans-serif;
}




/*-----------------
 Card- 01
------------------*/

.project_container{
}

.project-text{
  margin: 30px;
}



@media (min-width: 768px) {
  .project-text{
    margin: 80px;
  }
}



.project-title{
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0.78px;
  text-align: left;
  line-height: 42px;
}


@media (min-width: 768px) {
  .project-title{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: #000000;
    letter-spacing: 0.78px;
    text-align: center;
    line-height: 58px;
  }  
}



.project-des{
  margin-top: 8px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.27px;
  text-align: left;
  line-height: 22px;
}


@media (min-width: 768px) {
  .project-des{
    margin-top: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.27px;
    text-align: center;
    line-height: 22px;
  }
}

.card-container{
    margin : 0 auto;
    max-width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
  .card-container{
    margin : 0 auto;
    max-width: 800px;
    padding-top: 80px;
    padding-bottom: 140px;}
}


.card-container-02{
  margin : 0 auto;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}


@media (min-width: 768px) {
  .card-container-02{
    margin : 0 auto;
    max-width: 800px;
    padding-top: 80px;
    padding-bottom: 140px;}
}

.card-list{
  float: left;
}
.card-list-02{
  margin: 0 auto;
  display: block;
}

.card-container:after{
  content: "";
  clear: both;
  display: block;
}

.card {
  box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.1);
  border-radius: 10px;
  margin-top: 60px;
  display: block;
  text-align: center;
  margin: 20px;
  background-color: white;
}


@media (min-width: 768px) {  
  .card {
    box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.1);
    padding: 20px;
    margin: 14px;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;}

  .card:hover, .card:focus, .card:active {
    box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.3);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    border-radius: 8px;}
}





/*--------card-02----------*/




.card-02 {
  box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.1);
  border-radius: 10px;
  margin-top: 60px;
  display: block;
  text-align: center;
  margin: 20px;
  background-color: white;
}


@media (min-width: 768px) {  
  .card-02{
    box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.1);
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;}

  .card-02:hover, .card-02:focus, .card-02:active {
    box-shadow: 0 0.07143rem 0.42857rem 0 rgba(0,0,0,.3);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    border-radius: 8px;}
}

/*------------------*/




.card-text{
  width: 100%;
}


@media (min-width: 768px) {
  .card-text{
    display: flex;
  }
}


.card-text-inner{
  width: 100%;
}

@media (min-width: 768px) {
  .card-text-inner{
    margin: 0%;
  }
}


.card-img{
  margin: 0 auto;
  margin: 10px;
}


@media (min-width: 768px) {
  .card-img{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
}

.card-thumbnail{
  width: 90%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .card-thumbnail{
    width: 100%;
    margin-top: 0px;
    border-radius: 8px;
  }
}

#thumbnail-01{
  background-color: rgba(88, 29, 255, 0.05);
}

#thumbnail-02{
  background-color: rgba(32, 197, 126, 0.05);
}
#thumbnail-03{
  background-color: rgba(255, 109, 0, 0.05);
}
#thumbnail-04{
  background-color: rgba(14, 104, 174, 0.05);
}

#thumbnail-05{
  background-color: rgba(255, 40, 77, 0.03);
}

#thumbnail-06{
  background-color: rgba(18, 26, 104, 0.03);
}






.card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.78px;
  text-align: left;
  padding: 6%;
}


@media (min-width: 768px) {
  .card-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.78px;
    text-align: left;
    padding: 0%;
    padding-bottom: 5%;
  }
}


.card-subtitle-container{
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 0px;
  margin :6%;
  color: black;
  text-align: left;
  padding-bottom: 20px;
}


@media (min-width: 768px) {
  .card-subtitle-container{
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 0px;
    color: black;
    text-align: left;
    padding-bottom: 0px;
  }
}


.card-subtitle-container-02{
  margin: 0 auto;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 40px;
}


@media (min-width: 768px) {
  .card-subtitle-container-02{
    width: 100%;
    display: inline-block;
    padding-top: 10px;
  }
}


.card-subtitle-container-02:after{
  content: "";
  display: block;
  clear: both;
}



.card-subtitle-list{
    margin-top: 18px;
    border-radius: 4px;
    margin-bottom: 4px;
    text-align: center;
    margin: 0 auto;
}


@media (min-width: 768px) {
  .card-subtitle-list{
    margin-top: 18px;
    border-radius: 4px;
    margin-bottom: 4px;
    text-align: left;
  }
}

.card-subtitle01 {
  font-size: 14px;
  letter-spacing: 0.27px;
  line-height: 28px;
  text-align: left;
  margin-top: 10px;
}


@media (min-width: 768px) {
  .card-subtitle01 {
    color: black;
    font-size: 14px;
    letter-spacing: 0.27px;
    line-height: 28px;
    text-align: left;
  }
}



 .card-subtitle02 {
    margin-top: 30px;
    color: black;
    font-size: 14px;
    letter-spacing: 0.27px;
    line-height: 28px;
    text-align: left;
 }



.card-des{
  padding-top : 12px;
  font-size: 14px;
  color: #929292;
  letter-spacing: 0.27px;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 768px) {
  .card-des{
    padding-top : 10px;
    font-size: 14px;
    color: #929292;
    letter-spacing: 0.27px;
    line-height: 28px;
    text-align: left;
  }  
}

.card-content {
  padding: 4px;
  margin-left: 10px;
}

/*--------*/

#bg-beecanvas{
  background-color: #C5C4E1;
}


#bg-townus{
  background-color:#EFDBC8;
}

#bg-peter{
  background-color: #C8DBEF;
}


#bg-done{
  background-color: #EFCAC8;
}


#bg-discover{
  background-color: #CBCBD3;
}

#des01{
  color: rgb(88, 29, 255);
}

#des02{
  color:#20C57E;
}


#des03{
  color: #FF6D00;
}

#des04{
  color: rgb(0, 109, 220);
}

#des05{
  color: #FF284D;
}

#des06{
  color: #121A68;
}

#subtitle-01{
  font-size: 12px;
  display: inline-block;
  color:rgba(32, 197, 126, 0.8);
  background-color: rgba(32, 197, 126, 0.05);
  border-radius: 8px;
  margin-right: 10px;
  border: 0.5px dotted;
  padding: 7px 15px;
}


#subtitle-02{
  font-size: 12px;
  display: inline-block;
  color: rgba(88, 29, 255, 0.8);
  background-color: rgba(88, 29, 255, 0.05);
  border-radius: 8px;
  margin-right: 10px;
  border: 0.5px dotted;
  padding: 7px 15px;
}


#subtitle-03{
  font-size: 12px;
  display: inline-block;
  color: rgba(255, 109, 0, 0.8);
  background-color: rgba(255, 109, 0, 0.05);
  border-radius: 8px;
    margin-right: 10px;
    border: 0.5px dotted;
    padding: 7px 15px;
}

#subtitle-04{
  color: rgba(0, 109, 220, 0.8);
  font-size: 12px;
  display: inline-block;
  background-color: rgba(0, 109, 220, 0.05);
  border-radius: 8px;
    margin-right: 10px;
    border: 0.5px dotted;
    padding: 7px 15px;
}

#subtitle-05{
  color:rgba(255, 88, 115, 0.8);
  font-size: 12px;
  display: inline-block;
  background:#ffffff;
  background-color: rgba(255, 88, 115, 0.05);
  border-radius: 8px;
  margin-right: 10px;
  border: 0.5px dotted;
  padding: 7px 15px;
}

#subtitle-06{
  color: rgba(18,26,104,0.8);
  font-size: 12px;
  display: inline-block;
  background-color: rgba(18,26,104,0.05);
  border-radius: 8px;
    margin-right: 10px;
    border: 0.5px dotted;
    padding: 7px 15px;
}






  /*-----------------
   footer
  ------------------*/
  
  .social-box {
    padding: 50px;
    max-width: 800px;
    display: inline-block;
  }
  
  .social-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
  }
  

.social {
  margin-top: 30px;
  text-align: center;
  display: block;
  float: right;
}


.social-list {
  float: left;
  margin: 4px;
}

.social-list:after {
  content: "";
  display: block;
  clear: both;
}

.social:after{
  content: "";
  display: block;
  clear: both;
}
  
.social-icon {
   width: 30px;
   height: 30px;
   opacity: 0.7;
}
  
.social-icon-img {
   width: 100%;
}
  
.footer-seonyu {
  margin-top: 30px;
  text-align: center;
  color: #BEC2C9;
  opacity: 0.8;
  max-width: 800px;
}

.footer-seonyu:after {
  content: "";
  display: block;
  clear: both;
}


