.otherActive~._28r-{pointer-events:auto}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_gTlIMMtbro4_2x{background-image:url(/rsrc.php/v3/yS/r/scWrP42p1Sj.png);background-size:15px 30px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4_2x.sx_b4d79e{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4_2x.sx_f1fa65{background-position:0 0}

#bootloader_2vhuq{height:42px;}.bootloader_2vhuq{display:block!important;}