/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
}

.nav{
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    color: black;
    
}
.header_global .logo{
    float: left;
    color: white;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
    font-weight: 500;
    
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}





/*---------------------
 * intro
----------------------*/



.intro{ 
    padding-top: 120px; 
    
    
}

.intro-box{
    display: inline-block;
    width: 900px;
    margin: 0 auto;
    margin: 80px;
}
.intro-container{
    
    
}

.intro-body{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
  width: 300px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.4px;
  text-align: justify;
  color: #7c7b86;
}



.intro-list{
    float: left;
}


#a{
    width: 35%;
    margin-left: 5%;
}

#b{
    width: 55%;
    margin-left: 5%;
}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}



#img-profile{
    width: 300px;
}




/*-----------------
 footer
------------------*/
  
.footer_seonyu{
    font-size:15px;
    margin-top: 30px;
    }   
    
.social-box{
    display: block;
    margin-top: 80px;
    
    
    } 
    
     
.social-container{
    padding: 60px;
    margin: 0 auto;
    max-width: 800px;
    } 
    
    
.social{
    width: 480px;
    margin: 0 auto;
    margin-top: 30px;

    ;
}

.social-list{
    margin: 20px;
    float: left;

}

.social:after{
        clear: both;
        content: "";
        display: block;}

    
.social-icon{
    width: 90%;
}
    
    
 .social-text{
     color: black;
     font-size:15px;
     font-weight: 100;
    }
    
    
    
    
    
    







        
    