/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
}

.nav{
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    color: black;
    
}
.header_global .logo{
    float: left;
    color: white;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
    font-weight: 500;
    
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}


/*---------------------
 * banner
----------------------*/


.banner{
}

.intro1{
    width: 1000px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.intro1_container{
    position: relative;
    top: 200px;
}


.profile{
    width: 350px;
    position: absolute;
    left: 100px;
}


.intro2{
    width: 500px;
    position: absolute;
    right: 0;
}


.text-title{
    text-align: left;
    font-size:1.3rem;
}

.text-description{
    color: #000000;
    font-family: 'roboto';
    opacity: 0.5;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: -0.6px;
	line-height: 1.8;
    text-align: left;
}







.more{
    margin-top: 100px;
    margin-bottom: 30px;
    
    color: red;
    font-family: 'roboto';
    opacity: 0.5;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: -0.6px;
	line-height: 1.8;
    text-align: left;
    text-decoration-line: underline;}


.more-list{
    display: block;
}



.social{
    width:175px;
}

.social-list{
    float: left;
    width: 24px;
    height: 24px;

}

.social-icon{
    width: 90%;
}






    
}





    
/*-----------------
 footer
------------------*/
    
    
.social-box{
    display: block;
    margin-top: 80px;
    
    
    } 
    
     
.social-container{
    background-color: #F4F4F4;
    padding: 60px;
    margin: 0 auto;
    } 
    
    
.social{
    
    width: 220px;
    margin: 0 auto;
}

.social-list{
    float: left;
    margin: 4%;
    width: 26px;

}

.social:after{
        clear: both;
        content: "";
        display: block;}

    
.social-icon{
    width: 90%;
}
    
    
    








        
    