/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}



/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

.nav{
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    opacity: 0.5;
    
}

.header_global .logo{
    float: left;
    color: white;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: white;
    font-weight: 500;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}


/*---------------------
 * banner
----------------------*/



.banner{
    height: 100%;
	background-image: url(../imgs/bee02_cover.png) ;
    background-size: cover; 
    min-width: 1000px;
    height: 680px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-container{
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}



.banner-text{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    
}



.banner-image{
    position: absolute;
    top:200px;
    width:900px;
    right: -200px;
}

.intro-mockup{
    width:100%;

}




.intro1_title{
  width: 468px;
  height: 50px;
  font-family: Chivo;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.43;
  letter-spacing: -1.9px;
  text-align: left;
  color: #FFFFFF;
    
}

.intro2_title{
  width: 468px;
  height: 34px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: -0.6px;
  text-align: left;
  color: #FFFFFF;
}




/*---------------------
 * Index
----------------------*/








.intro{ 
    
}

.intro-box{
    display: inline-block;
    width: 940px;
    margin: 0 auto;
    margin: 80px;
    text-align: justify;
}
.intro-container{
    
    
}


.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.4px;
  text-align: justify;
  color: #7c7b86;
}



.intro-list{
    float: left;
}


#a{
    width: 60%;
    margin-left: 5%;
}

#b{
    width: 30%;
    margin-left: 5%;
}


.intro-container:after{
    clear: both;
    content: "";
    display: block;
}











/*---------------------
 * body
----------------------*/






.project{
}

.project-container{
    padding: 130px;
    
}

.text-container{
    width: 600px;
    margin: 0 auto;
}

.subheader{
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #131315;
}


.title{
  width: 600px;
  font-family: Chivo;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
} 


.body{
  padding-top: 10px;
  width: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: justify;
  color: #121214;
}



.project-image{
   width: 600px;
}


.image-des{
  width: 600px;
  margin: 0 auto;
  height: 44px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  text-align: center;
  color: #8c8c8c;
}









/**//**/

#text-mission{
    color: white;
    margin: 0 auto;
    text-align: center;
}

#redesign{
    width: 940px;
    margin-top: 50px;
}



#pain{
    margin-bottom: 40px;
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #9a9aa1;
}




#redesign-wire{
    width: 800px;
}





.e{
    padding-top: 50px;
    width:600px;
}

.d{
    margin: 0 auto;
}
.c{ 
    height: 200px;
    width: 50px;
    float: left;
}



.d:after{
    clear: both;
    content: "";
    display: block;
}





.g{
    width: 100%;
}



#intro-text00{
    color: #72727d;
    width: 540px;
}



#numbering01{
    width: 10%;
}










#intro-text01{
    color: white;
}

#intro-text02{
    color: #72727d;
}


#bg-introduction{
    background-color: #131315;
}

#understanding{
    margin-top: 50px;
    width: 600px;
}



#opportunity{
    margin-top: 50px;
}



#outcome-design{
    margin-top: 50px;
    width:800px;
}



#outcome-design_gif{
    margin-top: 100px;
    width: 900px;
}


#bg-wire{
    
    background-color: #242428;
}



















/*---------------------
 * goals
----------------------*/




.goals-container{
  background-color: #B099FF;
}


.goals-text-container{
    padding: 110px;
    text-align: left;
}


.goals-subheader{
  padding-bottom: 40px;
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}

.goals-text-container{
    width: 600px;
    margin: 0 auto;
}


.goals-numbering{
    width: 45px;
}
.goals-list{
    width: 600px;
    margin: 0 auto;
}


.goals-number{
    width: 180px;
    padding-right: 20px;
    float: left;
}

.goals-list:after{
    clear: both;
    content: "";
    display: block;
}




.goals-title{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.goals-body{
  padding-top: 10px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.4px;
  text-align:left;
  color: #ffffff;
}


#sub02{
  width: 600px;
  height: 26px;
  font-family: Chivo;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;
}


#sub03{
  margin-top: 50px;
  width: 600px;
  height: 26px;
  font-family: Chivo;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;

}

#sub04{
  margin-top: 50px;
  width: 600px;
  height: 26px;
  font-family: Chivo;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;

}



#bg-wire{
    background-color: #ffffff;
}

#bg-explore{
    background-color: #dfdfe8;
}

#bg-outcome{
    background-color: #151516;
}


#outcome-subheader{
    color: white;
    opacity: 0.5;
}



#explore{
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
    padding: 70px;
    background-color: #f1f1f4;
}


#wire{
    margin-top: 50px;
    width: 800px;
}

#sub-title{
    width: 600px;
  height: 29px;
  font-family: Chivo;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: 1.5px;
  text-align: justify;
  color: #b099ff;
}


#bg-ios{
    background-color: #222226;
}

#bg-guide{
    background-color: #1D1D20;
}


#bg-mockup{
    background-color: #c4c5d2;
}


/*---------------------
 * data
----------------------*/









.tutorial_container{
    width: 960px;
    margin: 0 auto;
    
}
.tutorial{
    float: left;
    margin-top: 3rem;
    padding: 20px;
}

.tutorial_container:after{
    content: "";
    clear: both;
    display: block;
    
}










/*---------------------
 * streaming
----------------------*/






/*---------------------
 * statistics
----------------------*/


.statistics{
    background-color: #01182C;
    padding: 5rem;
}




.statistics-summary{
    max-width: 500px;
    padding: 2rem;
    margin: 0 auto;
}



.statistics-title{
	font-family: Oswald;
    font-weight: 100;
	font-size: 1.5rem;
	line-height: 1.34;
	letter-spacing: -0.8px;
	text-align: left;
	color: #1d76bb;
    
}

.statistics-description{
	font-family: Lora;
    margin-top: 10px;
	line-height: 1.79;
	letter-spacing: -0.6px;
	text-align: left;
	color: #C0C0C0;
}
    


.canvas-mobile-container{
    display: inline-block;
}

.canvas-mobile{
    margin: 0 auto;
    width: 960px;
    display: inline-block;}



.mobile-title{
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.69;
  letter-spacing: -0.4px;
  text-align: center;
  color: #c2cbd4;
}




.body3-mobile-pages{
    float: left;
    width: 296px;
    padding: 12px;
    margin-top: 8rem;
}



.body3-mobile:after{
    content: "";
    display: block;
    clear: both;
}

.mobile-page-image{
    width: 100%;
}





/*---------------------
 * Insta
----------------------*/




/*---------------------
 * Insta-mockup
----------------------*/





#ab{
    padding: 0px;
    margin: 0px;
}




#mockup{
   margin: 0 auto;
   width: 1000px;
}














        
    