/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto';
  text-align: center;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

.nav{
    width: 1000px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    
}
.header_global .logo{
    float: left;
    color: black;
    font-weight: 600;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}





















/*---------------------
 * banner
----------------------*/



.banner{
    height: 100%;
	background-image: url(../imgs/bee_cross.png) ;
    background-size: cover; 
    min-width: 1000px;
    height: 680px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-container{
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}



.banner-text{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    
}



.banner-image{
    position: absolute;
    top:200px;
    width:900px;
    right: -200px;
}

.intro-mockup{
    width:100%;

}



.intro1_title{
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: -0.8px;
	text-align: left;
    
}

.intro2_title{
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: -0.8px;
	text-align: left;
}



.intro1_description{
    margin-top:1rem;
	font-size: 1rem;
	line-height: 1.83;
	letter-spacing: -0.6px;
	text-align: left;
	color: black;
}














/*-----------------
 main
------------------*/



/*---intro------*/



.intro{}

.intro-box{
    display: inline-block;
    width: 700px;
    margin: 0 auto;
    margin: 5rem;
}

    

.intro-role{
    color: white;
    width:350px;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}


.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
    
}



.intro-list{
    float: left;
}



.intro-container:after{
    content: "";
    display: block;
    clear: both;}



#intro-overview{
    width: 450px;
    margin-right: 50px;
}

#intro-role{
  text-align: left;
  color: #3a3a3a;
}


#intro-role-text{
  line-height: 3;
}



/*---body1-----*/

.body1{
    background-color: #131315;}


.body1-container{
    margin: 0 auto;
    display: block;}

.body1-content{
    padding: 2rem;
}

.body1-content-text{
    width: 600px;
    margin: 0 auto;
    margin-top: 8rem;
}

.sub-title{
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #9176ff;
}


.body1-title{
    text-align: left;
    color: #ffffff;
    width: 600px;
}

.body1-intro {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-weight: 100;
    color: white;
    width: 600px;
    margin: 0 auto;
    line-height: 160%;
    color: #72727D;
}


.body1-image1{
    max-width: 700px;
    margin-top: 1rem;
    margin: 0 auto;
    margin-bottom: 5rem;}























/*---body2 -----*/

.body2{
    background-color: #ffffff;}


.body2-summary{
    width: 700px;
    margin: 0 auto;
}


.summary-container{
    display: block;
    margin-top: 6rem;
    padding-bottom: 2rem;

}


.bee_asis{
    margin-top: 4rem;
    max-width: 700px;
}



.summary-content{
    float: left;}


#summary-head{
    width: 163px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.6px;
    text-align: left;
    color: #c3c3ca;
}


#summary-body{
  width: 509px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.4px;
  text-align: left;
  color: #312c2c;
}


.summary-box:after{
    content: "";
    display: block;
    clear: both;
}


.summary-subtitle{
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.42;
  letter-spacing: -0.3px;
  text-align: left;
  color: #a2a2a2;
}






.bee_explorations{
    
    margin-top: 4rem;
    margin-bottom: 6rem;
    max-width: 700px;
}






/*---body3 -----*/

.body3-result{
    background-color: #ebebef;
}

.result-box{
    width:700px;
    padding-top: 6rem;
    margin: 0 auto;
}

#result_img02{
    padding-top:3rem;
    padding-bottom:3rem;
}


.result-head{
  margin-bottom: 2rem;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.4px;
  text-align: left;
  color: #5F5F69;
}

.result-img{
    width: 700px;
}


.result-container{
    margin: 0 auto;
    width: 700px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

