
/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
    
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}




/*---------------------
 * Header
----------------------*/


.header_global {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

nav{
    margin: 0 auto;
	max-width: 800px;
    box-sizing: border-box;
    
}

.header_global .logo{
    color: white;
    font-weight: 500;
}


@media (min-width: 768px){
    .header_global .logo{
    float: left;}
}

@media (min-width: 768px){
    .header_global .nav_menu{
    float: right;
}
}


.header_global .nav_menu li{
    display: inline;
}

@media (min-width: 768px){
    .header_global .nav_menu li{
    float: left;}
}


.menu_list{
    display: inline-block;
    padding-top: 1rem;
    
    margin: 1rem;
    color: white;
    font-weight: 500;
}


@media (min-width: 768px){
    .menu_list{
    display: inline;
    margin: 1rem;
    color: white;
    font-weight: 100;
}

}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}





/*-----------------
 banner
------------------*/
    
main{
    width: 100%;
}
.banner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	background-image: url(../imgs/index_seoul_cover.png) ;
    

}



.banner-text{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 100%;
}



.banner-container{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 3rem;
    
}



@media (min-width: 768px){
    .banner-container{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding: 3rem;
    
}

}



.banner_title{
  font-size: 32px;
  font-family: Chivo;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}

@media (min-width: 768px){
    .banner_title{
  font-size: 60px;
}
}


.banner_subtitle{
  font-size: 14px;
  padding-top: 5px;
  font-family: Chivo;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}

@media (min-width: 768px){
    .banner_subtitle{
  font-size: 30px;
    }
}



/*---------------------
intro
----------------------*/


.intro-box{
    display: inline-block;
    max-width: 940px;
    margin: 0 auto;
    margin: 30px;
}

@media (min-width: 768px){
    .intro-box{
    margin: 80px;
}

}




.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
}



.intro-list{
    width: 100%;
}

@media (min-width: 768px){
    .intro-list{
    float: left;  
    }
}


#a{
    width: 100%;
}

@media (min-width: 768px){
    #a{
    width: 60%;
    margin-left: 5%;}
}

#b{
    width: 100%;
}


@media (min-width: 768px){
    #b{
    width: 30%;
    margin-left: 5%;
}

}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}






/*---------------------
index
----------------------*/








.project_box{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 96%;
    padding: 2%;}


@media (min-width: 768px){
.project_box{
  margin: 0 auto;
  max-width: 940px;
  display: inline-block;}

}



.project{
    width: 100%;
    display: block;
    margin: 0 auto;
}


@media (min-width: 768px){
.project{
    margin: 0 auto;
    width: 430px;
    height: 400px;
    padding: 20px;
    float: left;
    }
}


.project-image{
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}



@media (min-width: 768px){
.project-image{
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
    
}

}

        
    



/*connect*/

.wrap_aside {
    width: 100%;
    position: absolute;
    color: #000000;
  }
  
  .link_connect {
    display: flex;
    color: #000000;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  @media (min-width: 768px) {
    .link_connect {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      float: left;
      width: 100%;
      height: 200px;
    }
  }
  
  .wrap_aside .link_connect .inner_connect {
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .txt_connect {
    text-align: center;
    font-size: 14px;
    font-family: Chivo;
  }
  .tit_magazine {
    /* Done: */
    font-size: 30px;
    color: #000000;
    letter-spacing: -0.72px;
    text-align: center;
    line-height: 38px;
    display: block;
    margin: 10px auto 0;
    font-weight: 200;
  }
  