/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: white;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

.nav{
    width: 900px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    opacity: 0.5;
    
}

.header_global .logo{
    float: left;
    color: black;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
    font-weight: 500;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}


/*---------------------
 * banner
----------------------*/



.banner{
    width: 100%;
    height: 100%;
	background-image: url(../imgs/40.jpeg) ;
    background-size: cover; 
    min-width: 1000px;
    height: 680px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-container{
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}



.banner-text{
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding: 3rem;
    
}






.intro1_title{
  width: 468px;
  height: 50px;
  font-family: Chivo;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.43;
  letter-spacing: -1.9px;
  text-align: left;
  color: #000000;
    
}

.intro2_title{
  width: 468px;
  height: 34px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: -0.6px;
  text-align: left;
  color: #000000;
}





/*---------------------
index
----------------------*/








.intro{ 
    
}

.intro-box{
    display: inline-block;
    max-width: 940px;
    margin: 0 auto;
    margin: 80px;
}
.intro-container{
    
    
}


.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
}



.intro-list{
    width: 100%;
}



@media (min-width: 768px){
    .intro-list{
      
    float: left;  
    }
}


#a{
    width: 60%;
    margin-left: 5%;
}

#b{
    width: 30%;
    margin-left: 5%;
}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}











/*---------------------
index
----------------------*/








.project_box{
  max-width: 1200px;
  margin: 0 auto;}



.project{
    width: 100%;
}


@media (min-width: 768px){
.project{
    width: 600px;
    height: 400px;
    float: left;
    }
}

.project-container{
    width: 100%;
    
}

.text-container{
    width: 600px;
    margin: 0 auto;
}

.subheader{
  width: 600px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #131315;
}


.title{
  font-family: Chivo;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
} 


.body{
  padding-top: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;
}



.project-image{
   width: 500px;
}


.image-des{
  width: 600px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  text-align: center;
  color: #8c8c8c;
}














/*---------------------
 * data
----------------------*/











        
    