/*-------------
 CSS RESET 
--------------*/

* {
    padding: 0;
    border: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  /*
   * Base structure
   */
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  body {
      color: #000;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      font-family: "Libre Franklin", sans-serif;
    }
  /*---------------------
   * Header
  ----------------------*/
  
  .header_global {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
  }
  
  nav {
    margin: 0 auto;
    max-width: 800px;
    box-sizing: border-box;
  }
  
  .header_global .logo {
    font-weight: 500;
  }
  
  @media (min-width: 768px) {
    .header_global .logo {
      float: left;
    }
  }
  
  @media (min-width: 768px) {
    .header_global .nav_menu {
      float: right;
    }
  }
  
  .header_global .nav_menu li {
    display: inline;
  }
  
  @media (min-width: 768px) {
    .header_global .nav_menu li {
      float: left;
    }
  }
  
  .menu_list {
    display: inline-block;
    margin: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.71px;
    text-align: center;
    line-height: 40px;
  }
  
  
  @media (min-width: 768px) {
    .menu_list {
      display: inline;
      margin: 1rem;
      font-weight: 100;
      line-height: 40px;}
  }
  
  .header_global:after {
    display: block;
    clear: both;
    content: "";
  }
  
  .header_global nav:after {
    display: block;
    clear: both;
    content: "";
  }
  
  #menu_active {
    opacity: 1;
  }
  
  #menu_inactive {
    opacity: 0.5;
  }
  
  
  
  
  /*logo--------------------------*/
  
  .logo{
  }
  
  .logo-sun{
    padding-top: 3px;
    width: 36px;
    float: left;
  }
  
  .logo-name{
  /* Seonyu Kim: */
    padding-top: 5px;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.71px;
    text-align: center;
    line-height: 40px;
  }
  
  /*-----------------
   banner
  ------------------*/
  
  main {
    width: 100%;
  }
  
  
  .banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(../imgs/index_done_cover_mobile.png);
  }
  
  
  @media (min-width: 768px) {
    .banner {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url(../imgs/index_done_cover.png);
    }
  }
  
  
  
  .banner-text {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 100%;
  }
  
  .banner-container {
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 3rem;
  }
  
  @media (min-width: 768px) {
    .banner-container {
      color: white;
      position: absolute;
      left: 0px;
      bottom: 50px;
      padding: 3rem;
    }
  }
  
  .banner_title {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
  }
  
  @media (min-width: 768px) {
    .banner_title {
      font-size: 60px;
    }
  }
  
  .banner_subtitle {
    font-size: 14px;
    padding-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
  }
  
  @media (min-width: 768px) {
    .banner_subtitle {
      font-size: 30px;
    }
  }
  
  /*---------------------
  intro
  ----------------------*/
  
  .intro-box {
    display: inline-block;
    max-width: 940px;
    margin: 0 auto;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .intro-box {
      margin: 80px;
    }
  }
  
  .intro-role {
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .intro-title {
    margin-bottom: 0.5rem;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #B7B7B7;
    letter-spacing: 0.46px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .intro-body {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    line-height: 2;
  }
  
  .intro-text {
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.6px;
    color: #000000;
  }
  
  .intro-list {
    width: 100%;
    line-height: 2;
  }
  
  @media (min-width: 768px) {
    .intro-list {
      float: left;
    }
  }
  
  #intro-list-01 {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    #intro-list-01 {
      width: 60%;
      margin-left: 5%;
    }
  }
  
  #intro-list-02 {
    width: 100%;
    margin-top: 40px;
  }
  
  @media (min-width: 768px) {
    #intro-list-02 {
      width: 30%;
      margin-left: 5%;
      margin-top: 0px;
    }
  }
  
  .intro-container:after {
    clear: both;
    content: "";
    display: block;
  }
  /*---------------------
   * body
  ----------------------*/
  
  .project {
    width: 100%;
  }
  
  .project-container {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  @media (min-width: 768px) {
    .project-container {
      padding: 130px;
    }
  }
  
  .text-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .subheader {
    max-width: 600px;
    height: 29px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 2.07;
    letter-spacing: 1.1px;
    text-align: left;
    color: #131315;
  }
  
  .title {
    max-width: 600px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    text-align: left;
    color: #000000;
  }
  
  @media (min-width: 768px) {
    .title {
      text-align: left;
    }
  }
  
  .body {
    padding-top: 10px;
    max-width: 600px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    text-align: left;
    color: #121214;
  }
  
  @media (min-width: 768px) {
    .body {
      text-align: justify;
    }
  }
  
  .project-image {
    padding-top: 50px;
    max-width: 600px;
    width: 100%;
  }
  
  .image-des {
    max-width: 600px;
    margin: 0 auto;
    height: 44px;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    text-align: center;
    color: #8c8c8c;
  }
  /*---------------------
  goals
  ----------------------*/
  
  .goals-container {
    background-color: #0f0332;
  }
  
  .goals-text-container {
    padding: 20px;
    padding-top: 40px;
    text-align: left;
  }
  
  @media (min-width: 768px) {
    .goals-text-container {
      padding: 110px;
      text-align: left;
    }
  }
  
  .goals-subheader {
    padding-bottom: 40px;
    max-width: 600px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
  }
  
  .goals-text-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .goals-list {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .goals-number {
    width: 100%;
    margin-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .goals-number {
      max-width: 180px;
      padding-right: 20px;
      float: left;
    }
  }
  
  .goals-list:after {
    clear: both;
    content: "";
    display: block;
  }
  
  .goals-title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    text-align: left;
    color: #ffffff;
  }
  
  .goals-body {
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: -0.1px;
    text-align: left;
    color: #ffffff;
  }
  
  #ideation {
    width: 100%;
    padding-top: 100px;
  }
  
  @media (min-width: 768px) {
    #ideation {
      padding-top: 50px;
    }
  }
  
  #done-complete {
    background-color: #ffffff;
  }
  
  #done-intro {
    padding-top: 50px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    #done-intro {
      padding-top: 100px;
      max-width: 380px;
    }
  }
  
  #interaction01 {
    margin-top: 50px;
    width: 80%;
    box-shadow: 0 20px 30px 0 rgba(191, 197, 209, 0.22),
      0 10px 10px 0 rgba(93, 97, 104, 0.1),
      inset 0 -20px 30px 0 rgba(239, 242, 246, 0.77), inset 0 1px 3px 0 #eff2f6;
  }
  
  @media (min-width: 768px) {
    #interaction01 {
      margin-top: 50px;
      max-width: 280px;
    }
  }
  
  #interaction02 {
    width: 100%;
    padding-top: 30px;
  }
  
  @media (min-width: 768px) {
    #interaction02 {
      max-width: 700px;
    }
  }
  
  #bg-ideation {
    background-color: #fafafa;
  }
  
  #bg-interaction01 {
    background-color: #fafafa;
  }
  
  #bg-interaction02 {
    background-color: #f4f4f4;
  }
  
  #bg-interaction03 {
    background-color: #e6e6e8;
  }
  
  #bg-interaction04 {
    background-color: #f4f4f4;
  }
  
  #img-calender {
    width: 100%;
    margin-top: 50px;
  }
  
  @media (min-width: 768px) {
    #img-calender {
      margin-top: 50px;
    }
  }
  
  #img-percentage {
    width: 100%;
    margin-top: 80px;
  }
  
  @media (min-width: 768px) {
    #img-percentage {
      max-width: 700px;
      margin-top: 50px;
    }
  }
  
  #img-color {
    width: 100%;
    padding-top: 60px;
  }
  
  @media (min-width: 768px) {
    #img-color {
      max-width: 800px;
    }
  }



/*connect*/

.wrap_aside {
    width: 100%;
    position: absolute;
    color: #000000;
  }
  
  .link_connect {
    display: flex;
    color: #000000;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  @media (min-width: 768px) {
    .link_connect {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      float: left;
      width: 50%;
      height: 200px;
    }
  }
  
  .wrap_aside .link_connect .inner_connect {
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .txt_connect {
    text-align: center;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    opacity: 0.3;
  }
  .tit_magazine {
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
    letter-spacing: -0.77px;
    text-align: center;
    line-height: 38px;
  }
  
  .tit_sub{
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.06px;
  text-align: center;
  line-height: 29px;
  }
  