/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto';
  text-align: center;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */




/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

.nav{
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    opacity: 0.5;
    
}

.header_global .logo{
    float: left;
    color: black;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
    font-weight: 500;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}



/*---------------------
 * banner
----------------------*/



/*---------------------
 * banner
----------------------*/



.banner{
    height: 100%;
	background-image: url(../imgs/done.png) ;
    background-size: cover; 
    min-width: 1000px;
    height: 680px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-container{
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}



.banner-text{
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding: 3rem;
    
}



.banner-image{
    position: absolute;
    top:200px;
    width:900px;
    right: -200px;
}

.intro-mockup{
    width:100%;

}



.banner_title{
  width: 468px;
  height: 50px;
  font-family: Chivo;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.43;
  letter-spacing: -1.9px;
  text-align: left;
  color: #000000;
    
}

.banner_subtitle{ 
  width: 468px;
  height: 34px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: -0.6px;
  text-align: left;
  color: #000000;
}





/*---------------------
 * intro2
----------------------*/









/*---intro------*/








.intro{ 
    
}

.intro-box{
    display: inline-block;
    width: 940px;
    margin: 0 auto;
    margin: 80px;
}
.intro-container{
    
    
}


.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
}



.intro-list{
    float: left;
}


#a{
    width: 60%;
    margin-left: 5%;
}

#b{
    width: 20%;
    margin-left: 5%;
}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}










/*---------------------
 * product-ideation
----------------------*/

.project{
}

.project-container{
    padding: 130px;
    
}

.text-container{
    width: 600px;
    margin: 0 auto;
}

.subheader{
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #131315;
}


.title{
  width: 600px;
  font-family: Chivo;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
} 


.body{
  padding-top: 10px;
  width: 600px;
  height: 78px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;
}



.project-image{
    width: 600px;
    
}





/**//**/



.goals-container{
  background-color: #0f0332;
}


.goals-text-container{
    padding: 110px;
    text-align: left;
}


.goals-subheader{
  padding-bottom: 40px;
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}

.goals-text-container{
    width: 600px;
    margin: 0 auto;
}
.goals-list{
    width: 600px;
    margin: 0 auto;
}


.goals-number{
    width: 180px;
    padding-right: 20px;
    float: left;
}

.goals-list:after{
    clear: both;
    content: "";
    display: block;
}




.goals-title{
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



.goals-body{
  padding-top: 10px;
  width: 180px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #ffffff;
}


#ideation{
    padding-top: 50px;
}


#done-complete{
    background-color: #ffffff;
}



#done-intro{
    padding-top: 100px;
    width: 380px;}



#interaction01{
    margin-top: 50px;
    width: 280px;
    box-shadow: 0 20px 30px 0 rgba(191, 197, 209, 0.22), 0 10px 10px 0 rgba(93, 97, 104, 0.1), inset 0 -20px 30px 0 rgba(239, 242, 246, 0.77), inset 0 1px 3px 0 #eff2f6;}





#interaction02{
    width: 900px;}



#bg-ideation{
    background-color: #fafafa;
}

#bg-interaction01{
    background-color: #fafafa;
}      

#bg-interaction02{
    background-color: #EAE5E7;
}      
    



#bg-interaction03{
    background-color: #E6E6E8;
}      

#bg-interaction04{
    background-color: #F4F4F4;
}    



#img-calender{
    margin-top: 50px;
}



#img-percentage{
    width: 700px;
    margin-top: 50px;
}

#img-color{
    width: 800px;
}

