
/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
    
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}




/*---------------------
 * Header
----------------------*/


.header_global {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

nav{
    margin: 0 auto;
	max-width: 800px;
    box-sizing: border-box;
    
}

.header_global .logo{
    color: black;
    font-weight: 500;
}


@media (min-width: 768px){
    .header_global .logo{
    float: left;}
}

@media (min-width: 768px){
    .header_global .nav_menu{
    float: right;
}
}


.header_global .nav_menu li{
    display: inline;
}

@media (min-width: 768px){
    .header_global .nav_menu li{
    float: left;}
}


.menu_list{
    display: inline-block;
    padding-top: 1rem;
    
    margin: 1rem;
    color: black;
    font-weight: 500;
}


@media (min-width: 768px){
    .menu_list{
    display: inline;
    margin: 1rem;
    color: black;
    font-weight: 100;
}

}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}





/*-----------------
 banner
------------------*/
    
main{
    width: 100%;
}
.banner{
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
    background-position: center center;
	background-image: url(../imgs/done.png) ;
    

}



.banner-text{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 100%;
}




.banner-container{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding: 3rem;
    
}



.banner_title{
  font-size: 32px;
  font-family: Chivo;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}

@media (min-width: 768px){
    .banner_title{
  font-size: 60px;
}
}


.banner_subtitle{
  font-size: 14px;
  padding-top: 5px;
  font-family: Chivo;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}

@media (min-width: 768px){
    .banner_subtitle{
  font-size: 30px;
    }
}

   
/*---------------------
intro
----------------------*/



.intro-box{
    display: inline-block;
    max-width: 940px;
    margin: 0 auto;
    margin: 20px;
    padding-top:30px;
    padding-bottom:30px;
}


@media (min-width: 768px){
    .intro-box{
    margin: 80px;
}

}




.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
}



.intro-list{
    width: 100%;
}

@media (min-width: 768px){
    .intro-list{
    float: left;  
    }
}


#a{
    width: 100%;
}

@media (min-width: 768px){
    #a{
    width: 60%;
    margin-left: 5%;}
}

#b{
    width: 100%;
}


@media (min-width: 768px){
    #b{
    width: 30%;
    margin-left: 5%;
}

}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}











/*---------------------
 * project
----------------------*/




.project{
    width: 100%;
}




.project-container{
    padding: 20px;
    padding-top:40px;
    padding-bottom:40px;
}



@media (min-width: 768px){
    .project-container {
    padding: 130px;    
    }
}




.text-container{
    max-width: 600px;
    margin: 0 auto;
}

.subheader{
  max-width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #131315;
}



.title{
  max-width: 600px;
  font-family: Chivo;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
} 


@media (min-width: 768px){
.title{
  text-align: left: ;
}
}


.body{
  padding-top: 10px;
  max-width: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;
}


@media (min-width: 768px){
.body{
  text-align: justify;
}
}



.project-image{
    max-width: 600px;
    
}




  
/*---------------------
goals
----------------------*/



.goals-container{
  background-color: #0f0332;
}


.goals-text-container{
    padding: 20px;
    text-align: left;
}



@media (min-width: 768px){
    .goals-text-container{
    padding: 110px;
    text-align: left;
}

}



.goals-subheader{
  padding-bottom: 40px;
  max-width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}

.goals-text-container{
    max-width: 600px;
    margin: 0 auto;
}
.goals-list{
    max-width: 600px;
    margin: 0 auto;
}


.goals-number{
    width: 100%;
    margin-bottom: 30px;
}



@media (min-width: 768px){
    .goals-number{
    max-width: 180px;
    padding-right: 20px;
    float: left;
}

}



.goals-list:after{
    clear: both;
    content: "";
    display: block;
}




.goals-title{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



.goals-body{
  padding-top: 10px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #ffffff;
}


#ideation{
    width: 100%;
    padding-top: 100px;
}

@media (min-width: 768px){
   #ideation{
    padding-top: 50px;
}

}






#done-complete{
    background-color: #ffffff;
}





#done-intro{
    padding-top: 240px;
    width:100%;}




@media (min-width: 768px){
    
#done-intro{
    padding-top: 100px;
    max-width: 380px;}


}



#interaction01{
    margin-top: 50px;
    width: 80%;
    box-shadow: 0 20px 30px 0 rgba(191, 197, 209, 0.22), 0 10px 10px 0 rgba(93, 97, 104, 0.1), inset 0 -20px 30px 0 rgba(239, 242, 246, 0.77), inset 0 1px 3px 0 #eff2f6;}


@media (min-width: 768px){
    #interaction01{
    margin-top: 50px;
    max-width: 280px;}




}



#interaction02{
    width: 100%;}


@media (min-width: 768px){
    #interaction02{
    max-width: 900px;}

}




#bg-ideation{
    background-color: #fafafa;
}

#bg-interaction01{
    background-color: #fafafa;
}      

#bg-interaction02{
    background-color: #EAE5E7;
}      
    



#bg-interaction03{
    background-color: #E6E6E8;
}      

#bg-interaction04{
    background-color: #F4F4F4;
}    



#img-calender{
    width: 100%;
    margin-top: 50px;
}

@media (min-width: 768px){
    #img-calender{
    margin-top: 50px;
}

}




#img-percentage{
    width: 100%;
    margin-top: 80px;
}


@media (min-width: 768px){
     #img-percentage{
    max-width: 700px;
    margin-top: 50px;
}
}



#img-color{
    width: 100%;
}



@media (min-width: 768px){
    #img-color{
    max-width: 800px;
}
}
