/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; 
}
.site-wrapper-inner {
  height: 100%;
}

/* Padding for spacing */



/*---------------------
 * Header
----------------------*/


.header_global {
	width:100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

.nav{
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    opacity: 0.5;
    
}

.header_global .logo{
    float: left;
    color: black;
    font-weight: 500;
}

.header_global .nav_menu{
    float: right;
}

.header_global .nav_menu li{
    float: left;
}

.menu_list{
    margin-left: 1.5rem;
    color: black;
    font-weight: 500;
}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}


/*---------------------
 * banner
----------------------*/



.banner{
    height: 100%;
	background-image: url(../imgs/index_peter.png) ;
    background-size: cover; 
    min-width: 1000px;
    height: 680px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.banner-container{
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    position: relative;
}



.banner-text{
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding: 3rem;
    
}



.banner-image{
    position: absolute;
    top:200px;
    width:900px;
    right: -200px;
}

.intro-mockup{
    width:100%;

}



.intro1_title{
  width: 468px;
  height: 50px;
  font-family: Chivo;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.43;
  letter-spacing: -1.9px;
  text-align: left;
  color: #000000;
    
}

.intro2_title{
  width: 468px;
  height: 34px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: -0.6px;
  text-align: left;
  color: #000000;
}



/*---------------------
 * intro2
----------------------*/








.intro{ 
    
}

.intro-box{
    display: inline-block;
    width: 940px;
    margin: 0 auto;
    margin: 80px;
}
.intro-container{
    
    
}


.intro-role{
    color: white;
    height: 60px;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}



.intro-title{
    font-size: 1rem;
    font-weight: 100;
    color: #7c7b86;
    opacity: 0.5;
    font-family: 'roboto';
    text-align: left;
    margin-bottom: 0.5rem;
}

.intro-body{
    font-size: 1rem;
    font-weight: 500;
    color: #7c7b86;
    font-family: 'roboto';
	line-height: 1.62;
    margin-top: 10px;
}



.intro-text{
    
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
	line-height: 1.62;
	letter-spacing: -0.6px;
    color: #7c7b86;
    font-family: 'roboto';
}



.intro-list{
    float: left;
}


#a{
    width: 60%;
    margin-left: 5%;
}

#b{
    width: 30%;
    margin-left: 5%;
}

.intro-container:after{
    clear: both;
    content: "";
    display: block;
}

















.project{
}

.project-container{
    padding: 130px;
    
}

.text-container{
    width: 600px;
    margin: 0 auto;
}

.subheader{
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #131315;
}


.title{
  width: 600px;
  font-family: Chivo;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: -0.7px;
  text-align: left;
  color: #000000;
} 


.body{
  padding-top: 10px;
  width: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: left;
  color: #121214;
}



.project-image{
   width: 600px;
}


.image-des{
  width: 600px;
  margin: 0 auto;
  height: 44px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  text-align: center;
  color: #8c8c8c;
}









/**//**/



.goals-container{
  background-color: #1d76bb;
}


.goals-text-container{
    padding: 110px;
    text-align: left;
}


.goals-subheader{
  padding-bottom: 40px;
  width: 600px;
  height: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}

.goals-text-container{
    width: 600px;
    margin: 0 auto;
}
.goals-list{
    width: 600px;
    margin: 0 auto;
}


.goals-number{
    width: 180px;
    padding-right: 20px;
    float: left;
}

.goals-list:after{
    clear: both;
    content: "";
    display: block;
}




.goals-title{
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.goals-body{
  padding-top: 10px;
  width: 180px;
  height: 150px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}









#bg-interaction{
   background-color: #DDE3E7; 
}





#bg-understanding{
    background-color: #f5fafd;
}

#understanding{
    margin-top: 50px;
    width: 600px;
}

#ideation{
    width: 300px;
}


#opportunity{
    margin-top: 50px;
}



#bg-wire{
    
    background-color: #131e27;
}


#bg-mid{
    background-color: #E5E9EB;
}

#z{
    color: aliceblue;
}

#y{
    color: #b0b0cd;
}

#wire{
    margin-top: 80px;
}


#research{
    width: 500px;
    margin-top: 50px;
}

#bg-concept{
    background-color: #EFF1F2;
}

#concept{
    margin-top: 60px;
    width: 1000px;
}


#home{
    margin-top: 60px;
    width: 900px;
}


#concept-des{
    margin-top: 50px;
     width: 600px;
  height: 22px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  text-align: center;
  color: #8c8c8c;
}


#interaction{
    margin-top: 50px;
    width: 300px;
}


#style{
    margin-top: 50px;
    
}

#style-text{
  width: 600px;
  height: 22px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  text-align: center;
  color: #8c8c8c;
}


#subheader01{
    color: white;
    opacity: 0.5;
}

#subheader02{
    color: white;
}

#subheader03{
    color: white;
    opacity: 0.7;
}


#bg-final{
    background-color:#03091C;
}












/*---------------------
 * streaming
----------------------*/






/*---------------------
 * statistics
----------------------*/




.canvas-mobile-container{
    display: inline-block;
}

.canvas-mobile{
    margin: 0 auto;
    width: 960px;
    display: inline-block;}



.mobile-title{
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 2.69;
  letter-spacing: -0.4px;
  text-align: center;
  color: #c2cbd4;
}




.body3-mobile-pages{
    float: left;
    width: 296px;
    padding: 12px;
    margin-top: 8rem;
}



.body3-mobile:after{
    content: "";
    display: block;
    clear: both;
}

.mobile-page-image{
    width: 100%;
}





/*---------------------
 * Insta
----------------------*/


#f{
    background-color: #B8C1C7;
    margin: 0px;
    padding: 0px;
}



#ab{
    padding: 0px;
    margin: 0px;
}


#fd{
    padding: 0;
    margin: 0;
}

#mockup{
   margin: 0 auto;
   width: 1000px;
   margin-bottom: 0;
}





#takeaway{
    background-color: #EEF2F5;
}

#img-takeaway{
    width: 1000px;
}










        
    