/*-------------
 CSS RESET 
--------------*/

* {
    padding: 0;
    border: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  /*
   * Base structure
   */
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }
 
body {
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
  }
  
  /*---------------------
   * Header
  ----------------------*/
  
  .header_global {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
  }
  
  nav {
    margin: 0 auto;
    max-width: 800px;
    box-sizing: border-box;
  }
  
  .header_global .logo {
    font-weight: 500;
  }
  
  @media (min-width: 768px) {
    .header_global .logo {
      float: left;
    }
  }
  
  @media (min-width: 768px) {
    .header_global .nav_menu {
      float: right;
    }
  }
  
  .header_global .nav_menu li {
    display: inline;
  }
  
  @media (min-width: 768px) {
    .header_global .nav_menu li {
      float: left;
    }
  }
  
  .menu_list {
    display: inline-block;
    margin: 1rem;
    font-family: "Rubik-regular";
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.71px;
    text-align: center;
    line-height: 40px;
  }
  
  
  @media (min-width: 768px) {
    .menu_list {
      display: inline;
      margin: 1rem;
      font-weight: 100;
      line-height: 40px;}
  }
  
  .header_global:after {
    display: block;
    clear: both;
    content: "";
  }
  
  .header_global nav:after {
    display: block;
    clear: both;
    content: "";
  }
  
  #menu_active {
    opacity: 1;
  }
  
  #menu_inactive {
    opacity: 0.5;
  }
  
  
  
  
  /*logo--------------------------*/
  
  .logo{
  }
  
  .logo-sun{
    padding-top: 3px;
    width: 36px;
    float: left;
  }
  
  .logo-name{
  /* Seonyu Kim: */
    padding-top: 5px;
    line-height: 40px;
    font-family: "Rubik";
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.71px;
    text-align: center;
    line-height: 40px;
  }
  


/*---------------------
 * name
----------------------*/


.name-container{
    padding: 30px;
    margin: 0 auto;
    display: block;
}


@media (min-width: 768px){
.name-container{
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;}
}

.name-title{
    width: 100%;
    font-family: "Rubik";
    font-weight: 900;
    font-size: 32px;
    color: #000000;
    letter-spacing: 0;
}

.name-des{

    width: 100%;
    padding-top: 16px;
    font-family: "Rubik";
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
}

.name-more{
    font-family: "Rubik";
}

.img-sun{
  width: 48px;
}

#left{
    width: 100%;
    text-align: left;}

#right{
    margin-top : 50px;
    line-height: 2;
    width: 100%;
    text-align: left;}



@media (min-width: 768px){
    #right{
        margin-top : 0;
        line-height: 2;
        width: 100%;
        text-align: left;}
 }


@media (min-width: 768px){
    #left{
        width: 50%;
        text-align: left;}
    
    #right{
        line-height: 2;
        width: 50%;
        text-align: right;}
}


/*---------------------
 * intro
----------------------*/

.work_container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 240px;
}

.work_list{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    display: block;
}


@media (min-width: 768px){
    .work_list{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    }
}


.work_title{
  width: 100%;
  margin-bottom: 5px;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: left;
  color: #000000;
  letter-spacing: 0;
}



@media (min-width: 768px){
    .work_title{
        width: 100%;
        margin-bottom: 30px;
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: left;
        color: #000000;
        letter-spacing: 0;
      }
}


#work-edu{
    padding-top: 30px;
}


.work_row{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.work-li{
    float: none;
    
    padding-bottom: 30px;
}


@media (min-width: 768px){
    .work-li{
    float: left;}

}


#work_period{
    width: 100%;
    padding-bottom: 20px;
}

#work_des{
    width:100%;
}

.line{
    width: 50%;
}

@media (min-width: 768px){
    #work_period{
    width: 30%;
    margin-right: 10%;}
}


@media (min-width: 768px){
    #work_des{
    width:60%;}
}



.job_title{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}


.job_period{
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.3px;
  text-align: left;
  opacity: 0.5;
}

.job_des{
    opacity: 0.5;
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
    line-height: 1.75;
}


.job_des01{
    opacity: 0.7;
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
    line-height: 1.75;
}


.job_des02{
    opacity: 0.5;
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;

    line-height: 1.75;
  }


.resume-container{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  display: inline-block;
  border-radius: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.resume-container:after{
    display: block;
    content: "";
    clear: both;
}


.resume-start-container{
    display: block;
    padding-bottom: 100px;
}

.work_container{
    display: block;
    padding-bottom: 100px;
}


.resume_start{
    float: left;
    text-align: left;
    ont-family: 'roboto-light';
    font-size: 16px;
    color: #A5A5A5;
    letter-spacing: 0.11px;
    text-align: justify;
    line-height: 27px;
}



#resume-btn{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.3px;
    text-align: justify;
    color: #000000; 
    
  }

  

.line{
    max-width: 777px;
    height: 1px;
    background-color: #d8d8d8;
    margin-bottom: 100px;
   }




 #title-work01{
    color: #E97156;}


 #title-work02{
    color:  #F4995E;}


 #title-work03{
    color: #FFC065;}



#title-skill{
    color: #F4995E;}

#title-edu{
    color:#FFC065;}


.title-line{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 0.5px solid #E97156;
}

#line-02{
    border: 0.5px solid #F4995E;}


#line-03{
    border: 0.5px solid #FFC065;}
    

  /*-----------------
   footer
  ------------------*/
  
  .social-box {
    margin-top: 100px;
    padding: 50px;
    max-width: 800px;
    display: inline-block;
  }
  
  .social-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .footer-seonyu {
    margin-top: 30px;
    text-align: center;
    color: #bec2c9;
    max-width: 800px;
  }
  
  .footer-seonyu:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .social {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
  }
  
  .social-list {
    float: right;
    margin: 4px;
  }
  
  .social-list:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
  }
  
  .social-icon-img {
    width: 100%;
  }
  