
/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
    border: 0; 
    margin: 0;}
a {text-decoration: none;}
li {list-style: none;}




/*
 * Base structure
 */


html,body {
    
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
body {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'roboto'
}




/*---------------------
 * Header
----------------------*/


.header_global {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    box-sizing: border-box;
    z-index: 9;
}

nav{
    margin: 0 auto;
	max-width: 800px;
    box-sizing: border-box;
    
}

.header_global .logo{
    color: white;
    font-weight: 500;
}


@media (min-width: 768px){
    .header_global .logo{
    float: left;}
}

@media (min-width: 768px){
    .header_global .nav_menu{
    float: right;
}
}


.header_global .nav_menu li{
    display: inline;
}

@media (min-width: 768px){
    .header_global .nav_menu li{
    float: left;}
}


.menu_list{
    display: inline-block;
    padding-top: 1rem;
    
    margin: 1rem;
    color: white;
    font-weight: 500;
}


@media (min-width: 768px){
    .menu_list{
    display: inline;
    margin: 1rem;
    color: white;
    font-weight: 500;
}

}

.header_global:after{
    display: block;
    clear: both;
    content: "";
}

.header_global nav:after{
    display: block;
    clear: both;
    content: "";
}



#menu_active{
    opacity: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
    

#menu_inactive{
    opacity: 0.8;
} 



/*---------------------
 * intro
----------------------*/




.work_container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 240px;
    
}

.work_list{
    
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    display: block;
}


@media (min-width: 768px){
    .work_list{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    }
}


.work_title{
  width: 100%;
  font-family: Roboto;
  margin-bottom: 70px;
 font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
}


#work-edu{
    padding-top: 30px;
}


.work_row{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.work-li{
    float: none;
    
    padding-bottom: 30px;
}


@media (min-width: 768px){
    .work-li{
    float: left;}

}


#work_period{
    width: 100%;
    padding-bottom: 20px;
}

#work_des{
    width:100%;
}



@media (min-width: 768px){
    #work_period{
    width: 26%;
    margin-right: 4%;}
}


@media (min-width: 768px){
    #work_des{
    width:70%;
}

}





.job_title{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
}


.job_period{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.3px;
  text-align: left;
  color: #3B3A49;
}


.job_des{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #3B3A49;
  text-align: left;

}


.resume-container{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  display: inline-block;
  border-radius: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.resume-container:after{
    display: block;
    content: "";
    clear: both;
}


.resume-start-container{
    display: block;
    padding-bottom: 100px;
}

.work_container{
    display: block;
    padding-bottom: 100px;
}


.resume_start{
    float: left;
    text-align: left;
    ont-family: 'roboto-light'
font-size: 16px;
color: #A5A5A5;
letter-spacing: 0.11px;
text-align: justify;
line-height: 27px;
}



#resume-btn{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.3px;
    text-align: justify;
    color: #000000; 
    
  }

  

.line{
    max-width: 777px;
    height: 1px;
    background-color: #d8d8d8;
    margin-bottom: 100px;
   }






  
  
  /*-----------------
   footer
  ------------------*/
  
  .social-box {
    margin-top: 100px;
    padding: 50px;
    max-width: 800px;
    display: inline-block;
  }
  
  .social-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .footer-seonyu {
    margin-top: 30px;
    text-align: center;
    color: #bec2c9;
    max-width: 800px;
  }
  
  .footer-seonyu:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .social {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
  }
  
  .social-list {
    float: right;
    margin: 4px;
  }
  
  .social-list:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
  }
  
  .social-icon-img {
    width: 100%;
  }
  